.advantages {
    &__title {
        font-size: 24px;
        text-align: center;
        max-width: 280px;
        margin: 0 auto;
        margin-top: 30px;
        color: @dark-greycolor;
        span {
            text-transform: uppercase;
        }
    }
}

.plants {
    position: relative;

    &::before {
        content: url("../img/spinach.png");
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        height: auto;

    }

    &__title {
        color: @redcolor;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    &__subtitle {
        text-align: center;
        color: @dark-greycolor;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__item {
        max-width: 210px;
        text-align: center;
    }

    &__description {
        color: @greycolor;
        font-weight: 300;
    }
}

.soil {
    position: relative;

    &::before {
        content: url("../img/soil.png");
        position: absolute;
        left: -200px;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
    }

    &__title {
        color: @redcolor;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    &__subtitle {
        text-align: center;
        color: @dark-greycolor;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clear: both;
    }

    &__item {
        max-width: 280px;
        text-align: center;
    }

    &__description {
        color: @greycolor;
        font-weight: 300;
    }
}

.animals {
    position: relative;

    &::before {
        content: url("../img/food.png");
        position: absolute;
        right: -200px;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
    }

    &__title {
        color: @redcolor;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    &__subtitle {
        text-align: center;
        color: @dark-greycolor;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__item {
        max-width: 280px;
        text-align: center;
    }

    &__description {
        color: @greycolor;
        font-weight: 300;
    }
}

@media (min-width: @tablet-width) {
    .advantages {

        &__wrapper {
            padding: 20px;
        }
        &__title {
            font-size: 40px;
            text-align: left;
            margin: 0;
            line-height: 50px;
            margin-top: 40px;
        }
    }

    .plants,
    .soil,
    .animals {

        &__title {
            text-align: left;
        }

        &__subtitle {
            text-align: left;
            margin: 0;
            margin-top: 10px;
        }

        &__list {
            flex-direction: row;
            margin-top: 30px;
        }
    }

    .plants {
        &::before {
            content: url("../img/spinach-tablet.png");
            left: 55%;
            top: 0;
        }
    }

    .soil {
        margin-top: 50px;

        &__title {
            text-align: right;
        }

        &__subtitle {
            float: right;
            text-align: right;
            margin-bottom: 30px;
        }

        &::before {
            top: 30px;
        }
    }

    .animals {
        margin-top: 50px;

        &::before {
            top: 60px;
        }
    }

    .plants,
    .soil,
    .animals {
        &__list {
            align-items: start;
        }
    }
}

@media (min-width: @desktop-width) {
    .advantages {
        &__wrapper {
            max-width: 960px;
            margin: 0 auto;
        }

        &__title {
            font-size: 50px;
            line-height: 62px;
        }

        .plants,
        .soil,
        .animals {
            width: 100%;
            margin-top: 50px;

            &__title {
                font-size: 21px;
                margin-bottom: 20px;
            }

            &__list {
                justify-content: space-between;
                margin-top: 50px;
            }
        }

        .plants {
            &::before {
                left: 65%;
            }
        }

        .soil {

            &__subtitle {
                margin-bottom: 50px;
            }

            &::before {
                content: '';
                width: 325px;
                height: 325px;
                background-image: url("../img/soil.png");
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                top: 70px;
                left: -300px;
            }
        }

        .animals {

            &::before {
                content: '';
                width: 325px;
                height: 325px;
                background-image: url("../img/food.png");
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                top: 70px;
                right: -300px;
            }
        }
    }
}
