.intro-information {
    background-image: url("../img/intro-inform-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;

    &__wrapper {
        padding-left: 20px;
        padding-top: 230px;
    }

    &__title {
        margin: 0 auto;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        font-weight: 500;
        max-width: 290px;

        span {
            font-weight: 700;
            color: @dark-greycolor;
            background-color: rgba(@greencolor, 0.3);
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}