.why {
    position: relative;
    max-width: 340px;
    margin: 0 auto;

    &::before {
        content: url("../img/dekor-kv-full.svg");
        position: absolute;
        top: 250px;
        left: -250px;
        z-index: -1;
    }

    &::after {
        content: url("../img/dekor-kv-full.svg");
        position: absolute;
        top: 600px;
        right: -150px;
        transform: rotate(135deg);
        z-index: -1;
    }

    &__title {
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
        color: @redcolor;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
    
    &__item {
        width: 240px;
        height: 290px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 40px;
        border-radius: 15px;
        padding: 20px 20px;
        position: relative;
        background-color: #fff;

        &::before {
            content: url("../img/list--one.svg");
            width: 270px;
            position: absolute;
            z-index: -2;
        }

        &:first-child::before {
            top: -120px;
            left: -45px;
        }

        &:nth-child(2)::before {
            top: -145px;
            left: 20px;
            transform: scaleX(-1);
        }

        &:nth-child(3)::before {
            top: -150px;
            left: -80px;
        }

        &:nth-child(4)::before {
            top: -150px;
            left: 220px;
        }
    }

    &__description {
        text-align: center;
        color: @greycolor;
        margin-top: 20px;

        span {
            color: @greencolor;
        }
    }
}

@media (min-width: @tablet-width) {
    .why {
        max-width: 860px;
        margin: 0 auto;

        &::before {
            transform: rotate(45deg);
            left: -205px;
        }

        &::after {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            right: -205px;
        }

        &__item {
            margin-bottom: 50px;
            &:first-child {
                margin-right: 50px;

                &::before {
                    top: -140px;
                    left: -100px;
                }
            }

            &:nth-child(2)::before {
                left: 100px;
                top: -140px;
            }

            &:nth-child(3) {
                margin-right: 50px;

                &::before {
                    top: 225px;
                    left: -200px;
                    transform: scaleX(-1);
                }
            }

            &:nth-child(4)::before {
                top: 225px;
                left: 200px;
            }
        }
    }
}

@media (min-width: @desktop-width) {
    .why {
        max-width: 960px;
        margin: 0 auto;

        &::before {
            content: '';
            width: 600px;
            height: 600px;
            background-image: url("../img/sprut.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &::after {
            content: '';
            width: 600px;
            height: 600px;
            background-image: url("../img/Plant.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            position: absolute;
            right: -350px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }

        &__title {
            margin-top: 100px;
            margin-bottom: 50px;
        }

        &__list {
            justify-content: space-between;
        }

        &__item {
            margin-bottom: 50px;

            &::before {
                display: none;
            }

            &:first-child {
                &::after {
                    content: '';
                    width: 300px;
                    height: 400px;
                    background-image: url("../img/dekor-kv-full.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    position: absolute;
                    top: -150px;
                    left: -150px;
                    transform: rotate(135deg);
                    z-index: -1;
                }
            }
            
            &:nth-child(2) {
                margin-left: 100px;

                &::after {
                    content: '';
                    width: 300px;
                    height: 400px;
                    background-image: url("../img/dekor-kv-full.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    position: absolute;
                    bottom: -200px;
                    left: 100px;
                    z-index: -1;
                }
            }
        }
    }
}